---
const { source, className } = Astro.props;

import {
  IoCall,
  IoGlobeOutline,
  IoLocation,
  IoLogoGithub,
  IoLogoMastodon,
  IoLogoTwitter,
  IoMail,
} from "react-icons/io5";

const { github, website, email, phone, address, twitter, mastodon } = source;
---

<ul class={className}>
  {
    github && (
      <li class="inline-block">
        <a
          aria-label="github"
          href={github}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoGithub />
        </a>
      </li>
    )
  }
  {
    twitter && (
      <li class="inline-block">
        <a
          aria-label="twitter"
          href={twitter}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoTwitter />
        </a>
      </li>
    )
  }
  {
    mastodon && (
      <li class="inline-block">
        <a
          aria-label="mastodon"
          href={mastodon}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLogoMastodon />
        </a>
      </li>
    )
  }
  {
    website && (
      <li class="inline-block">
        <a
          aria-label="website"
          href={website}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoGlobeOutline />
        </a>
      </li>
    )
  }
  {
    email && (
      <li class="inline-block">
        <a aria-label="email" href={`mailto:${email}`}>
          <IoMail />
        </a>
      </li>
    )
  }
  {
    phone && (
      <li class="inline-block">
        <a aria-label="telephone" href={`tel:${phone}`}>
          <IoCall />
        </a>
      </li>
    )
  }
  {
    address && (
      <li class="inline-block">
        <a
          aria-label="location"
          href={address}
          target="_blank"
          rel="noopener noreferrer nofollow"
        >
          <IoLocation />
        </a>
      </li>
    )
  }
</ul>
